body{
  background-color: black;
}

.App {
  text-align: center;
  color: white;
  opacity: 100%;
}

.image{
  background-image: url('../public/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  opacity: 10%;
}

.title{
  font-size: 32px;
}

.number{
  font-size: 150px;
}

.label{
  font-size:32px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}